@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Roboto+Condensed:wght@300;400&family=Roboto:ital,wght@0,100;0,300;1,500&display=swap');



:root {
    --background: #0F2F3C;
    --skin:#8EC83E;
    --black:#10122B;
    --white: #fff;
    --brain:#fc76a3;
    --tooth:#FFF998;
    --slime:#DAE21C;
    --verde:#91C631;
    --verde-dark:#59972E;
    --azul-dark:#041821;
    --blanco:#ffffff;
    --laser:#E62F64;
    --piel-una: #f7cb53;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.contenedor {
    background: linear-gradient(225deg, var(--background)1%,
    var(--background)50%, 
    var(--black)90%,
     var(--black)100%)  ;
   height: 100vh;
   max-height: 700px;
   display: flex;
   justify-content: center;
   align-items: center;
}



.head {
    width:300px ;
    height: 300px;
    background: var(--skin);
    border-radius: 50px;
    box-shadow: 0px 0px 5px 0px var(--black) ;
    position: relative;

}

.head:hover .text {
    opacity: 1;
}

.text {
    position: absolute;
    background: var(--white);
    top:-110px;
    left:-120px;
    border-radius: 30px;
    padding: 1px 25px;
    font-size: 50px;
    font-family: 'Creepster', cursive;
    color: var(--brain);
    letter-spacing: 5px;
    z-index: 5;
    box-shadow: 0px 0px 5px 0px var(--black);
    animation: text 3s infinite;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}



@keyframes text {
    0%{transform: translateX(0%);}
    15%{transform: translateX(-7%);}
    30%{transform: translateX(5%);}
    45%{transform: translateX(-5%);}
    60%{transform: translateX(3%);}
    75%{transform: translateX(1%);}
    100%{transform: translateX(0%);}
}

.ear-left{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    margin: auto 0;
    width: 50px;
    height: 50px;
    background: var(--skin);
    opacity: 0.8;
    border-radius: 50%;
}

.ear-right{
    position: absolute;
    top: 0;
    bottom: 0;
    right: -20px;
    margin: auto 0;
    width: 50px;
    height: 50px;
    background: var(--skin);
    opacity: 0.8;
    border-radius: 50%;
}


.brain{
    content: '';
    position: absolute;
    height: 100px;
    width: 140px;
    top: -50px;
    right: -10px;
    background: var(--background);
    border-radius: 50%;
    overflow: hidden;

}

.head:hover .brain:before{
    animation: brain 1s infinite;
}


@keyframes brain {
    0%{transform: scale(1);}
    50%{transform: scale(1.02);}
    100%{transform: scale(1);} 
    
}



.brain::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 150px;
    background: var(--brain);
    bottom: -55px;
    left: -44px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px var(--black);

}







.eye-left {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--black);
    position: absolute;
    top: 70px;
    left: 45px;

}


.eye-left::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--white);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}


.eye-right{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* background: var(--black); */
    top: 88px;
    right: 45px;
}

.eye-right::before{
    content: '';
    position: absolute;
    background: var(--black);
    height: 30px;
    width:100%;
    border-radius: 40px;
    transform: rotate(45deg);

}

.eye-right::after{
    content: '';
    position: absolute;
    background: var(--black);
    height: 30px;
    width:100%;
    border-radius: 40px;
    transform: rotate(-45deg);

}



.nose {
    width: 10%;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.nose::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--black);
    opacity: 0.7;
}

.nose::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--black);
    opacity: 0.7;
}


.mouth{
    position: absolute;
    height: 75px;
    width: 200px;
    border-radius: 35px;
    /* background: 35px; */
    background: var(--black);
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;

}


.tooth-1{
    position: absolute;
    bottom: 2px;
    left: 50px;
    height: 36px;
    width: 24px;
    border-radius: 10px 10px 0  0;
    background: var(--tooth);
}

.tooth-2{
    position: absolute;
    top: 2px;
    right: 80px;
    height: 30px;
    width: 20px;
    border-radius: 0px 0px 10px  10px;
    background: var(--tooth);
}

.tooth-3 {
    position: absolute;
    bottom: 2px;
    right: 40px;
    height: 30px;
    width: 20px;
    background: var(--tooth);
    border-radius: 10px 10px 0 0;
}


.slime {
    position: absolute;
    background: var(--slime);
    bottom: -30px;
    width: 35px;
    height: 50px;
    left: 12px;
    border-radius: 10px 10px 0 0;
}

.slime-1{
    background: var(--slime);
    position: absolute;
    bottom: -80px;
    width: 8px;
    height: 90px;
    left: 12px;
    border-radius: 10px;
    /* animation: slime-1 5s infinite; */

}

.slime-2{
    background: var(--slime);
    position: absolute;
    bottom: -100px;
    width: 8px;
    height: 100px;
    left: 26px;
    border-radius: 10px;
    /* animation: slime-2 5s infinite; */

}

.slime-3{
    background: var(--slime);
    position: absolute;
    bottom: -50px;
    width: 8px;
    height: 60px;
    left: 39px;
    border-radius: 10px;
    /* animation: slime-1 5s infinite; */
}

@keyframes slime-1 {
    0% {transform: translateY(0);}
    25%{transform: translateY(15px);}
    50%{transform:translateY(0);}
    75%{transform: translateY(10px);}
    100%{transform: translateY(0);}
}

@keyframes slime-2 {
    0% {transform: translateY(0);}
    55%{transform: translateY(15px);}
    100%{transform: translateY(0);}
}


.detail-1 {
    position: absolute;
    top: 15px;
    left: 70px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--tooth);
    opacity: 0.5;
}

.detail-2 {
    position: absolute;
    bottom: 80px;
    right: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--tooth);
    opacity: 0.5;
}

.detail-2 {
    position: absolute;
    bottom: 80px;
    right: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--tooth);
    opacity: 0.5;
}

.detail-3 {
    position: absolute;
    top: 150px;
    left: 40px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: var(--tooth);
    opacity: 0.5;
}

.detail-4 {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--tooth);
    opacity: 0.5;
    z-index: 3;
}


.detail-5 {
    position: absolute;
    top: 30px;
    right: 60px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: var(--tooth);
    opacity: 0.5;
    z-index: 3;
}

.contenedor2{
    margin-top: 200px;
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-robot{
    width: 300px;
    height: 420px;
   
}

/* cabeza start */

.cabeza{
    background: var(--verde);
    height: 185px;
    border-radius: 100px 100px 0 0;
    position: relative;
}

.cabello{
    width: 71px;
    height: 80px;
    position: absolute;
    top: -30px;
    left: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:8px
}


.cabello div {
    background: var(--azul-dark);
    border-radius: 10px;
}

.ojo{
    background: var(--azul-dark);
    position: absolute;
    width: 85%;
    height: 55px;
    left: 0;
    bottom: 25px;
    border-radius: 0 30px 30px 0;
    overflow: hidden;
}

.ojo::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 300%;
    top: -45px;
    left: 50px;
    transform: rotate(40deg);
    background: var(--blanco);
    opacity: 0.2;
    
}

.ojo::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 300%;
    top: -45px;
    right: 60px;
    transform: rotate(40deg);
    background: var(--blanco);
    opacity: 0.2;
    
}

.orejas{
    position: absolute;
    right: -30px;
    bottom: 25px;
    width: 60px;
    height: 60px;
    background: var(--verde);
    border-radius: 50%;
}


.orejas::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.6;
    background: var(--azul-dark);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
}


.nariz{
    width: 40px;
    height: 15px;
    position: absolute;
    bottom: 0;
    left: 80px;
}

.nariz::before, 
.nariz::after {
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    background: var(--azul-dark);
    opacity: 0.2;
    bottom: 1px;
    border-radius: 50%;

}

.nariz::before{
    left: 0;
}
.nariz::after{
    right: 0;
}




/* cabeza end */



/* cuerpo start */
.cuerpo {
    background: var(--azul-dark);
    height: 235px;
    border-radius: 0 0 150px 150px;
    position: relative;
}

.boca {
    background: var(--verde);
    width: 170px;
    height: 120px;
    border-radius: 0 0 90px 90px;
    margin-left: 30px ;
    position: relative;
    top: -1px;
}

.boca::after {
    content: '';
    position: absolute;
    top: 0;
    right: 80px;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    background: var(--azul-dark);
    border-radius: 50%;
}

.brazo-izq{
    width: 220px;
    height: 100px;
    background: var(--verde-dark);
    position: absolute;
    left: -95px;
    top: 20px;
    z-index: -2;
    /* animation: brazo 3s infinite; */
}

@keyframes  brazo {
    0% {transform: rotate(0);}
    50%{transform: rotate(20deg);}
    100%{transform: rotate(0);}
}

.pistola{
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 50px;
    border-radius: 30px;
    height: 120px;
    background: var(--azul-dark);
}

.pistola::before{
    content: '';
    position: absolute;
    top: -35px;
    right: -15px;
    width: 150px;
    border-radius: 30px;
    height: 60px;
    background: var(--azul-dark);
}


.pistola::after{
    content: '';
    position: absolute;
    top: -25px;
    right: 40px;
    width: 60px;
    height: 20px;
    border-radius: 30px;
    background: var(--blanco);
    opacity: 0.6;
}


.laser{
    position: absolute;
    right: 270px;
    top: -30px;
    border-radius: 40px;
    background: var(--laser) ;
    width: 100px;
    height: 10px;
    left: -170px;
}

.mano {
    position: absolute;
    left: -30px;
    bottom: 0;
    background: var(--verde-dark);
    width: 70px;
    height: 70%;
    border-radius: 20px;
}

.mano::before{
    content: '';
    position: absolute;
    top: -50px;
    right: -45px;
    width: 70px;
    height: 35px;
    background: var(--verde-dark);
    border-radius: 20px;
}

.mano::after{
    content: '';
    position:absolute;
    top: -25px;
    left: -20px;
    width: 80px;
    height: 35px;
    background: var(--verde);
    border-radius: 20px;
}

.brazo-dcho{
    width:100px;
    height: 210px;
    background: var(--verde);
    position: absolute;
    right: -45px;
    top: 20px;
    border-radius: 50px;

}
.brazo-dcho::before {
    content: '';
    position: 0;
    height: 90px;
    width: 90px;
    border-radius: 50% 50% 50% 0;
    bottom: 0;
    right: -40px;
    background: var(--verde);
}


.brazo-dcho::after{
    content: '';
    position:absolute;
    height: 80px;
    width: 20px;
    background: var(--verde-dark);
    left: -20px;
    bottom: 45px;
    border-radius: 20px 0 0 20px;
}
/* cuerpo end  */


